<html>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <style>
      body { font-family: Arial, sans-serif; background-color: #F9E795; margin:
      0; padding: 0; color: #333; } .email-container { max-width: 600px; margin:
      20px auto; background-color: #F9E795; padding: 20px; border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); } h1 { font-size: 24px; color:
      #F96167; } p { font-size: 16px; line-height: 1.5; color: #555; } a { color:
      #fff; text-decoration: none; font-weight: bold; } a:hover {
      text-decoration: underline; } .button { display: inline-block; padding:
      10px 20px; margin-top: 20px; font-size: 16px; color: #ffffff;
      background-color: #D8B100; border-radius: 5px; text-decoration: none; }
      .footer { margin-top: 20px; font-size: 12px; color: #aaa; }
    </style>
  </head>
  <body>
    <div class='email-container'>
      <h1>Registrasi Akun Sigmart</h1>
      <p>Untuk melanjutkan proses registrasi, silakan klik tombol di bawah ini:</p>
      <a href='{{registrationLink}}' class='button'>Konfirmasi Email</a>
      <div class='footer'>
        <p>Jika Anda tidak melakukan pendaftaran ini, harap abaikan email ini.</p>
        <p>&copy; 2024 Sigmart. All rights reserved.</p>
      </div>
    </div>
    </div>
  </body>
</html>